#calendarDaysContainer {
  display: grid;
  border: 2px solid red;
  padding: 20px;
  margin-top: 10px;

  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(5, 60px);
}

#calendarDays {
  border: 1px solid black;
}

#monthDisplay {
  width: 100px;
  margin: 0 10px 0 10px;
}
